{% extends 'base.html' %}
{% block bodycontent %}
<h1>Ingress Excubitor</h1>
Congratulations! You've found Excubitor, an app that works with Ingress.</p>

<h2>What is Excubitor?</h2>
<p>Excubitor is a helper application for Ingress, to manage your "entities destroyed" emails. Here's how to get started:</p>

<ol>
	<li>Register your Google account on the site, so it can associate the incoming emails with you.</li>
	<li>Download and install the Android client, and set up your account.</li>
	<li>Set up your GMail (or other email) account to automatically forward all "entities destroyed" emails to the service.</li>
	<li>Wait for someone to destroy one or more of your resonators/links/fields.</li>
</ol>

<p>... except you can't get started yet, because the project has only just begun! &#x263a;</p>

<h2>Why the name?</h2>
<p>Excubitor is Latin for "sentinel" or "watchman". It's pronounced ex-OOH-bit-or.</p>
{% endblock %}
